<div id='wrapper'
  <p id="notice"><%= notice %></p>

  <%= @property[:address] %><br/>
  <%= @property[:property_type] %><br/>
  <%= @property[:price_paid_info][:price] %><br/>
  <%= @property[:price_paid_info][:date] %><br/>
  <%= @property[:coordinates][:latitude] %><br/>
  <%= @property[:coordinates][:longitude] %><br/>

</div>
