<!DOCTYPE html>
<html>
<head>
  <title>PublicPropertyFrontend</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% content_for :footer_support_links do %>
  <%= render :partial => 'footer_support_links' %>
<% end %>
</body>
<%= render :template => 'layouts/govuk_template' %>
</html>
